html, body {
    height: 100%;
    //background-color:RGB(239,240,234);
    //background-color:RGB(250,245,235);
    background-color: #E6F3EF;
}
/*------------top-nav------------*/
.focused_topnav_a {
    background-color: RGB(47,47,56);
}

    .focused_topnav_a:hover {
        background-color: RGB(250,245,235);
        color: black;
        text-decoration: none;
    }

.nav_item {
    background-color: #cccccc;
    text-align: center;
    line-height: 50px;
    //position:fixed;
    width: 100%;
    //z-index:999;
    height: 50px;
    color: white;
}

    .nav_item span a {
        text-decoration: none;
        color: white;
        padding-left: 10px;
        position: fixed;
    }

.nav_span {
    text-align: center;
}

/*--------responsive top nav bar*/
.topnav {
    background-color: #cccccc;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 0px 16px;
        text-decoration: none;
        font-size: 16px;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            /*background-color: RGB(229,206,173);*/
            background-color: RGB(250,245,235);
            color: black;
            text-decoration: none;
        }

/*------------top-nav end------------*/
.btn {
    font-family: Microsoft JhengHei;
}

#back_btn {
    top: 5px;
    right: 22%;
    position: absolute;
}

#map {
    height: 100%;
    width: 100%;
}

#farm-map {
    height: 300px;
    width: 80%;
    margin: 0 auto;
}

.right-filter {
    width: 20%;
    height: 300px;
    z-index: 1000;
    position: absolute;
    right: 15px;
    top: 50px;
    color: white;
}

.right-filter-bg {
    background-color: black;
    opacity: 0.6;
    width: 20%;
    height: 300px;
    z-index: 999;
    position: absolute;
    right: 15px;
    top: 50px;
}

.img-plant {
    max-width: 200px;
    height: auto;
}

h4 {
    text-align: center;
}

.second_part {
    /*padding-left:50px;*/
    /*padding-right:50px;*/
    margin-top: 10px;
}

#farm-attribute-top {
    opacity: 0;
}

/*----------------toggle switch----------------*/
.toggle-item {
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    line-height: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 1px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #5cb85c;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5cb85c;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 18px;
}

    .slider.round:before {
        border-radius: 50%;
    }
/*----------------toggle switch----------------*/

/*----------------drop down------------------*/
.dropbtn {
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: #ec971f;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 112px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content * {
        color: black;
        padding: 2px 2px;
        text-decoration: none;
        display: block;
    }

.dropdown label:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.show {
    display: block;
}

.dropdown-content > label {
    text-align: center;
}
/*----------------drop down------------------*/